<div id="chart_container">
  <div id="chart"></div>
</div>

<div class="well">
  <code id='tweet-count'></code> tweets parsed since <code id='start-time'></code> </br>
  The following are the rankings for the last <code> 10 minutes </code>
</div>

<div id="table-div">
  <table class='table-class table'>
    <thead>
        <tr>
            <th class="anim:position"></th>
            <th class="anim:id">Hashtag</th>
            <th class="anim:update">Count</th>
        </tr>
    </thead>
    <tbody id='rows'>
    </tbody>
  </table>
</div>


<script src="/javascripts/graph.js"></script>
