<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <title>Tweetness !</title>
  </head>
  <body>

    <%= yield %>

    <!-- script src="/javascripts/d3.v2.9.6.min.js"></script -->
    <!--script src="http://code.shutterstock.com/rickshaw/rickshaw.js"></script -->
    <script src="/javascripts/animator.js"></script>
    <script src="/javascripts/rankingTableUpdate.js"></script>
  </body>
</html>
